/initenv.bat
/build

# for pyCharm
**/.idea/workspace.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/dictionaries
**/.idea/watcherTasks.xml
**/.idea/codeStyleSettings.xml
**/.idea/codeStyles/codeStyleConfig.xml
**/.idea/inspectionProfiles
**/.idea/vcs.xml
